In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df = sns.load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [8]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [9]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [11]:
df.dropna(inplace = True)
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [12]:
df.sex.unique()

array(['Male', 'Female'], dtype=object)

In [13]:
pd.get_dummies(df['sex']).head()

   Female  Male
0       0     1
1       1     0
2       1     0
4       1     0
5       0     1

In [15]:
sex = pd.get_dummies(df['sex'], drop_first = True)
sex.head()

   Male
0     1
1     0
2     0
4     0
5     1

In [16]:
df.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [17]:
pd.get_dummies(df['island']).head()

   Biscoe  Dream  Torgersen
0       0      0          1
1       0      0          1
2       0      0          1
4       0      0          1
5       0      0          1

In [27]:
island = pd.get_dummies(df['island'], drop_first = True)
sex.head()

   Dream  Torgersen
0      0          1
1      0          1
2      0          1
4      0          1
5      0          1

In [28]:
new_data = pd.concat([df, island,sex], axis=1)

In [29]:
new_data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Dream,Torgersen,Dream,Torgersen
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,1,0,1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,1,0,1
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,1,0,1
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,1,0,1
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,0,1,0,1

In [32]:
new_data.drop(['sex','island'], axis=1, inplace=True);

In [33]:
new_data.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Dream,Torgersen,Dream,Torgersen
0,Adelie,39.1,18.7,181.0,3750.0,0,1,0,1
1,Adelie,39.5,17.4,186.0,3800.0,0,1,0,1
2,Adelie,40.3,18.0,195.0,3250.0,0,1,0,1
4,Adelie,36.7,19.3,193.0,3450.0,0,1,0,1
5,Adelie,39.3,20.6,190.0,3650.0,0,1,0,1

In [34]:
Y = new_data.species
Y.head()

0    Adelie
1    Adelie
2    Adelie
4    Adelie
5    Adelie
Name: species, dtype: object

In [35]:
Y.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [59]:
Y = Y.map({'Adelie':0,'chinstrap':1, 'Gentoo':2})  #using map function to convert categorial value into numeric
Y = Y.fillna(0)
Y = Y.astype('int64')
Y.head()

0    0
1    0
2    0
4    0
5    0
Name: species, dtype: int64

In [60]:
new_data.drop('species',inplace=True, axis=1)

KeyError: "['species'] not found in axis"

In [41]:
new_data.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Dream,Torgersen,Dream,Torgersen
0,39.1,18.7,181.0,3750.0,0,1,0,1
1,39.5,17.4,186.0,3800.0,0,1,0,1
2,40.3,18.0,195.0,3250.0,0,1,0,1
4,36.7,19.3,193.0,3450.0,0,1,0,1
5,39.3,20.6,190.0,3650.0,0,1,0,1

In [44]:
X = new_data

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X, Y, test_size=0.3, random_state=0)

In [46]:
print('X_train',X_train.shape)
print('X_test',X_test.shape)
print('Y_train',y_train.shape)
print('Y_test',y_test.shape)

X_train (233, 8)
X_test (100, 8)
Y_train (233,)
Y_test (100,)

In [51]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators =5, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=5, random_state=0)

In [52]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [55]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report, accuracy_score

In [56]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[100]]

In [57]:
accuracy_score(y_test, y_pred)

1.0

In [58]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       100

    accuracy                           1.00       100
   macro avg       1.00      1.00      1.00       100
weighted avg       1.00      1.00      1.00       100

In [61]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators =7, criterion = 'gini', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=7, random_state=0)

In [62]:
y_pred = classifier.predict(X_test)

In [63]:
accuracy_score(y_test, y_pred)

1.0